{% extends 'base.html.twig' %} {% block title %}Hello UserController!{% endblock %} {% block body %}




<div class="site-section bg-light">

    <div class="container">

        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm  bg-white " style="padding:50px">

                <form method="post">
 <div class="form-field">
                    <label for="pass">Nouveau Mot de passe</label>
                    <input type="password" id="pass" name="pass" class="form-control">
                </div>
                <div class="form-field">
                    <label for="pass2">Confirmer le mot de passe</label>
                    <input type="password" id="pass2" name="pass2" class="form-control">
                </div>
                <button class="btn mt-2 "style="width:150px; height:40px; border-radius: 0px; ">Valider</button>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

</div>
{% endblock %}